<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>All registered users:</h1>
{{#users}}
<div>
    <b>{{login}}</b>
    <span>{{email}}</span>
</div>
{{/users}}
</body>
</html>